/*Estilo para quando a página for exibir o vtuber Toshiruz*/

article.toshiruz{
    background-image: linear-gradient(to bottom, #6F0E0E, #8C1C1C);
}

article.toshiruz > div{ 
    background-color: #5F0400;
}

/*Estilo para quando a página for exibir o vtuber DanteWill*/

article.dantewill{
    background-image: linear-gradient(to bottom, #877EBF , #BEB6F2);
}

article.dantewill > div{
    background-color: #8176B8;
}

/*Estilo para quando a página for exibir a vtuber Eeiris*/

article.eeiris{
    background-image: linear-gradient(to bottom, #231E74, #382D96);
}

article.eeiris > div{
    background-color: #6970D1;
}

/*Estilo para quando a página for exibir a vtuber Mii Reis*/

article.mii-reis{
    background-image: linear-gradient(to bottom, #BC2F67, #F294C8);
}

article.mii-reis > div{
    background-color: #D8558E;
}

/*Estilo para quando a página for exibir a vtuber Haruko shima*/

article.haruko-shima{
    background-image: linear-gradient(to bottom, #56B3AE, #ADEBE4);
}

article.haruko-shima > div{
    background-color: #5ECEC9;
}

/*Estilo para quando a página for exibir o vtuber Raviel karin*/

article.raviel-karin{
    background-image: linear-gradient(to bottom, #A64005, #A66851);
}

article.raviel-karin > div{
    background-color: #792B05;
}

/*Estilo para quando a página for exibir a vtuber Eveline Teach*/

article.eveline-teach{
    background-image: linear-gradient(to bottom, #DA75A1, #F299B9);
}

article.eveline-teach > div{
    background-color: #CE5F80;
}

/*Estilo para quando a página for exibir as vtubers Mono e Momo*/

article.mono, article.momo{
    background-image: linear-gradient(to bottom, #F2CF63, #F2D091);
}

article.mono > div, article.momo > div{
    background-color: #FFDE5D;
}

/*Estilo para quando a página for exibir a vtuber Emi Kotone*/

article.emi-kotone{
    background-image: linear-gradient(to bottom, #2C2559, #4EA6A6);
}

article.emi-kotone > div{
    background-color: #5E5BA6;
}

/*Estilo para quando a página for exibir o vtuber Torajo*/

article.torajo{
    background-image: linear-gradient(to bottom, #25B96D, #4BF275);
}

article.torajo > div{
    background-color: #02733E;
}

/*Estilo para quando a página for exibir o vtuber Jake ito*/

article.jake-ito{
    background-image: linear-gradient(to bottom, #282059, #4C49A6);
}

article.jake-ito > div{
    background-color: #150E33;
}

/*Estilo para quando a página for exibir aa vtuber Jesse Llun*/

article.jesse-llun{
    background-image: linear-gradient(to bottom, #445FB8, #147DD9);
}

article.jesse-llun > div{
    background-color: #2565D1;
}

/*Estilo para quando a página for exibir o vtuber Yamada*/

article.yanmada{
    background-image: linear-gradient(to bottom, #30323F, #455464);
}

article.yanmada > div{
    background-color: #44444e;
}

/*Estilo para quando a página for exibir o vtuber Skey*/

article.skey{
    background-image: linear-gradient(to bottom, #4B141F, #96202C);
}

article.skey > div{
    background-color: #590212;
}

/*Estilo para quando a página for exibir o vtuber Lightwuz*/

article.lightwuz{
    background-image: linear-gradient(to bottom, #1D0C59, #7216F2);
}

article.lightwuz > div{
    background-color: #4214A6;
}

/*Estilo para quando a página for exibir o vtuber Pricernot*/

article.pricernot{
    background-image: linear-gradient(to bottom, #1C1B20, #46454B);
}

article.pricernot > div{
    background-color: #121116;
}

/*Estilo para quando a página for exibir o vtuber Pett Tâniun*/

article.pett-taniun{
    background-image: linear-gradient(to bottom, #419BBF, #73BEE2);
}

article.pett-taniun > div{
    background-color: #2B89AA;
}
