section{
    padding: 20px;
}

div{
    width: 100%;
    padding: 10px;
}

img{
    display: block;
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #00000080;
}

a{
    display: block;
    text-decoration: none;
    margin: 10px auto;
}

div.links-vtuber{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.links-vtuber a{
    display: inline;
    margin: 5px;
}

button{
    transition: .3s;
    cursor: pointer;
    border: 1px solid var(--gray);
    box-shadow: 2px 2px 3px #00000080;
}

.bt-vtuber{
    background-color: transparent;
    background-position: center;
    background-size: cover;
    background-position: center center;
    width: 100px;
    height: 100px;
    border-color: var(--dark);
    border-radius: 50%;
}

.bt-vtuber:hover{
    border-color: var(--gray);
}

.bt-link{
    background-color: var(--dark);
    color: var(--white);
    font-size: 1.1em;
    text-decoration: none;
    width: 200px;
    padding: 10px;
    border-color: var(--gray);
    border-radius: 50px;
}

.bt-link:hover{
    background-color: var(--gray);
    color: var(--dark);
    border-color: var(--dark);
    scale: 1.02;
}

#bt-toshiruz{
    background-image: url(../imgs/small-toshiruz.png);
}

#bt-dantewill{
    background-image: url(../imgs/small-dantewill.png);
}

#bt-eeiris{
    background-image: url(../imgs/small-eeiris.png);
}

#bt-mii-reis{
    background-image: url(../imgs/small-mii-reis.png);
}