@media screen and (max-width: 600px) {
    section:first-of-type{
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
    }

    section:first-of-type div{
        background-color: #00000067;
        width: 80%;
        height: fit-content;
        padding: 10px;
        border-radius: 10px;
    }
}