article{
    padding: 20px;
}

article h1{
    font-size: 2.2em;
    text-align: center;
}

article p{
    font-size: 1.3em;
    text-align: center;
}

article div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
}

article .conteiner-image{
    max-width: 300px;
    padding: 0;
}

article div > img{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

svg{
    margin: 0 10px;
    transition-duration: .3s;
    cursor: pointer;
}

svg:hover{
    scale: 1.1;
}