*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    background-color: #070000de;
    text-align: center;
    padding: 10px;
}

header a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
    transition-duration: .3s;
}

header a:hover{
    color: gray;
}

article{
    padding: 20px;
}

article h1{
    font-size: 2.2em;
    text-align: center;
}

article p{
    font-size: 1.3em;
    text-align: center;
}

article div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 600px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
}

article .conteiner-image{
    max-width: 300px;
    padding: 0;
}

article div > img{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

svg{
    margin: 0 10px;
    transition-duration: .3s;
    cursor: pointer;
}

svg:hover{
    scale: 1.1;
}

/*Estilo para quando a página for exibir o vtuber Toshiruz*/

article.toshiruz{
    background-image: linear-gradient(to bottom, #6F0E0E, #8C1C1C);
}

article.toshiruz > div{ 
    background-color: #5F0400;
}

/*Estilo para quando a página for exibir o vtuber DanteWill*/

article.dantewill{
    background-image: linear-gradient(to bottom, #877EBF , #BEB6F2);
}

article.dantewill > div{
    background-color: #8176B8;
}

/*Estilo para quando a página for exibir a vtuber Eeiris*/

article.eeiris{
    background-image: linear-gradient(to bottom, #231E74, #382D96);
}

article.eeiris > div{
    background-color: #6970D1;
}

/*Estilo para quando a página for exibir a vtuber Mii Reis*/

article.mii_reis{
    background-image: linear-gradient(to bottom, #BC2F67, #F294C8);
}

article.mii_reis > div{
    background-color: #D8558E;
}

/*Estilo para quando a página for exibir o vtuber Raviel karin*/

article.raviel_karin{
    background-image: linear-gradient(to bottom, #A64005, #A66851);
}

article.raviel_karin > div{
    background-color: #792B05;
}

/*Estilo para quando a página for exibir a vtuber Eveline Teach*/

article.eveline_teach{
    background-image: linear-gradient(to bottom, #DA75A1, #F299B9);
}

article.eveline_teach > div{
    background-color: #CE5F80;
}

/*Estilo para quando a página for exibir as vtubers Mono e Momo*/

article.mono, article.momo{
    background-image: linear-gradient(to bottom, #F2CF63, #F2D091);
}

article.mono > div, article.momo > div{
    background-color: #FFDE5D;
}

/*Estilo para quando a página for exibir a vtuber Emi Kotone*/

article.emi_kotone{
    background-image: linear-gradient(to bottom, #2C2559, #4EA6A6);
}

article.emi_kotone > div{
    background-color: #5E5BA6;
}

/*Estilo para quando a página for exibir o vtuber Torajo*/

article.torajo{
    background-image: linear-gradient(to bottom, #25B96D, #4BF275);
}

article.torajo > div{
    background-color: #02733E;
}

/*Estilo para quando a página for exibir o vtuber Jake ito*/

article.jake_ito{
    background-image: linear-gradient(to bottom, #282059, #4C49A6);
}

article.jake_ito > div{
    background-color: #150E33;
}

/*Estilo para quando a página for exibir aa vtuber Jesse Llun*/

article.jesse_llun{
    background-image: linear-gradient(to bottom, #445FB8, #147DD9);
}

article.jesse_llun > div{
    background-color: #2565D1;
}
